#div-main {
    display: flex;
    flex-direction: row;
}

#div-left {
    width: 25%;
    height: auto;
    font-family: Arial;
    font-size: 20px;
}

#div-containt {
    width: 75%; /* BẮT BUỘC giữ nguyên 75% để chia đôi màn hình với div-left */
    height: auto; /* Chỉ để height là auto để tự động giãn chiều cao theo sản phẩm */
    background-color: antiquewhite;
}

#div-footer {
    height: 50px;
    background-color: burlywood;
    text-align: center;
    padding-top: 25px;
    clear: both; /* Giúp footer luôn nằm bên dưới các thành phần flex/float */
}
