.size-img {
    height: 200px;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
}

.box-description {
    height: 120px;
    width: auto;
    background-color: gray;
    margin-left: 20px;
    margin-top: 10px;
}
